@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #080808;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar-main {
  transition: margin-left 0.3s;
}

@media (min-width: 768px) {
  .sidebar-main {
    margin-left: 224px;
  }
}

@media (max-width: 767px) {
  .sidebar-main {
    margin-left: 0 !important;
    padding-bottom: 64px;
  }
}